.header {
    height: 50px;
    margin-top: 20px;
}

.logo {
    float: left;
    height: 50px;
    margin-left: 50px;
}

.avt {
    float: right;
    height: 40px;
    padding-right: 30px;
}

.logout_btn {
    text-decoration: none;
    float: right;
    margin-right: 50px;
    font-size: 20px;
    padding: 10px;
    color: #000;
    background-color: rgb(95, 95, 247); 
    border-radius: 10px;
}